<head>
    <title>HubSpot Internal Feedback</title>
</head>

<body>

    {{#if currentUser}}

        <div class='container'>
            <div class='row'>
                <div id="sidebar" class='span2'>
                    <div class='content-wrapper affix'>
                        <div class='affixed-wrapper'>
                            {{> feedbackButton}}
                            {{> teams}}
                        </div>
                    </div>
                </div>

                <div id="list" class='span5'>
                    <div class='blur affix'></div>
                    <div class='content-wrapper'>
                        {{> feedbackList}}
                    </div>
                </div>

                <div id="detail" class='span5'>
                    <div class='content-wrapper affix'>
                        <div class='affixed-wrapper'>
                            <div id='logout-screen' class='affixed-offset'>
                                {{loginButtons}}
                            </div>
                            {{> feedbackDetail}}
                            {{> comments}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> feedbackForm}}

    {{else}}
        {{> login}}
    {{/if}}

</body>
