@font-face {
  font-family: "Zocial";
  src: url('/css/fonts/../font/zocial-regular-webfont.eot');
  src: url('/css/fonts/../font/zocial-regular-webfont.eot?#iefix') format('eot'), url('/css/fonts/../font/zocial-regular-webfont.woff') format('woff'), url('/css/fonts/../font/zocial-regular-webfont.ttf') format('truetype'), url('/css/fonts/../font/zocial-regular-webfont.svg#zocialregular') format('svg');
}
